@CHARSET "ISO-8859-1";

#titulo {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #A00000;
	text-align: left;
	font-weight: bolder;
	position: relative;
	left: 30px;
}

#login {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:blue;
	position:relative;
	top: -14px;
	left: 440px;
}

#loginTexto {
	position:relative;
	top: 7px;
	left: 335px;
}

#tableMenu {
	position:relative;
	top:-10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border: 0px;
	border-collapse: collapse;
}

#tableMenu td, #tableMenu th {
	border: 1px solid #000066;
	background-color: #CC99FF;
	width: 150px;
	padding: 4px 4px 3px 15px;
}

#tableMenu td:HOVER {
	background-color:#CCCCFF;
}

thead, #tableMenu th {
	text-align:left;
	font-size: 20px;
	background-color: #9900CC;
	color: white;
	padding-left: 5px;
		
}

thead {
	color: #FFCC66;
	font-size: 15px;
	padding: 5px 5px 5px 5px;
}

.tabelaJSP th, td {
	padding: 7px;
}

.odd, .even{
	padding: 5px 5px 5px 5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #660099;
}

.odd {
	background-color: #FFCCFF;
}

.even {
	background-color: #CCCCFF;
}

a.menuLink {
	color : black;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration : none;
}

a.menuLink:VISITED {
	color : black;
}

a.menuLink:HOVER {
	text-decoration : underline;
}

.linkVoltar, .linkVoltar:VISITED {
	border: 1px solid #CC66CC;
	display:block;
	background-color: #FF6699;
	height:22px;
	width:130px;
	color : black;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align: center;
	padding-top: 3px;
	text-decoration : none;
}

.linkVoltar:HOVER {
	text-decoration : underline;
}

input {
	border: 1px solid #CC66CC;
}
